<connectionStrings>
  <add name="BookStoreDBEntities" connectionString="metadata=res://*/Models.BookStoreModel.csdl|res://*/Models.BookStoreModel.ssdl|res://*/Models.BookStoreModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\MSSQLSERVER01;initial catalog=BookStoreDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
