    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content padding-y bg">
        <div class="container">
    
        <article class="card">
            <div class="card-body">
                    <div class="row">
                        <aside class="col-md-6">
                                <article class="gallery-wrap">
                                    <div class="card img-big-wrap">
                                        <a href="#"> <img src="assets/images/items/3.jpg"></a>
                                    </div> <!-- card img-big-wrap.// -->
                                    <div class="thumbs-wrap">
                                        <a href="#" class="item-thumb"> <img src="assets/images/items/3.jpg"></a>
                                        <a href="#" class="item-thumb"> <img src="assets/images/items/3.jpg"></a>
                                        <a href="#" class="item-thumb"> <img src="assets/images/items/3.jpg"></a>
                                        <a href="#" class="item-thumb"> <img src="assets/images/items/3.jpg"></a>
                                    </div> <!-- thumbs-wrap .// -->
                                </article> <!-- gallery-wrap .end// -->
                        </aside>
                        <main class="col-md-6">
                            <article>
                                <a href="#" class="text-primary btn-link">Clothes</a>
                                <h3 class="title">Great product name goes here</h3>
                                <div>
                                    <ul class="rating-stars">
                                        <li  class="stars-active"> 
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                                            <i class="fa fa-star"></i>  
                                            
                                        </li>
                                        <li>
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                                            <i class="fa fa-star"></i> 
                                        </li>
                                    </ul>
                                    <a href="#" class="btn-link  mr-3 text-muted"> <i class="fa fa-heart"></i> Save for later </a>
                                </div> 
        
                                <hr>
                    
                                <div class="mb-3">
                                    <h6>Short description</h6>
                                    <ul class="list-dots mb-0">
                                        <li>Made in Russia</li>
                                        <li>Wolf leather </li>
                                        <li>Rubber material bottom</li>
                                        <li>Dark blue color</li>
                                    </ul>
                                </div>
                                
                                <div class="mb-3">
                                    <var class="price h4">$230.00</var> <br>
                                    <span class="monthly">$32.00 / monthly <a href="#" class="btn-link">installment </a></span>
                                </div> <!-- price-detail-wrap .// -->
        
                                <div class="mb-4">
                                    <a href="#" class="btn btn-primary mr-1">Buy now</a>
                                    <a href="#" class="btn btn-light">Add to card</a>
                                </div>
                                
                            </article> <!-- product-info-aside .// -->
                        </main> <!-- col.// -->
                    </div> <!-- row.// -->
            </div> <!-- card-body.// -->
        </article>
        </div>  
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->